---
import Layout from "@/layouts/Layout.astro";
import Footer from "@/components/Footer.astro";
---

<Layout>
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h2 class="my-4 inline-block text-4xl font-bold sm:my-8 sm:text-5xl">
        @luisdoesdev
      </h2>
      <h3> Coming soon...</h3>
  </main>
</Layout>
